<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>addNewPersonServlet</servlet-name>
        <servlet-class>jim.ctrl.addNewPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAddress</servlet-name>
        <servlet-class>jim.ctrl.addNewAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPersonList</servlet-name>
        <servlet-class>jim.ctrl.showPersonList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showIndex</servlet-name>
        <servlet-class>jim.ctrl.showIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showNewRelationshipForm</servlet-name>
        <servlet-class>jim.ctrl.showNewRelationshipForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewRelationshipServlet</servlet-name>
        <servlet-class>jim.ctrl.addNewRelationshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showRelationshipList</servlet-name>
        <servlet-class>jim.ctrl.showRelationshipList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewPersonServlet</servlet-name>
        <url-pattern>/addNewPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAddress</servlet-name>
        <url-pattern>/addNewAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPersonList</servlet-name>
        <url-pattern>/showPersonList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showIndex</servlet-name>
        <url-pattern>/showIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showNewRelationshipForm</servlet-name>
        <url-pattern>/showNewRelationshipForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewRelationshipServlet</servlet-name>
        <url-pattern>/addNewRelationshipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showRelationshipList</servlet-name>
        <url-pattern>/showRelationshipList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>showIndex</welcome-file>
    </welcome-file-list>
</web-app>
